.container {
  max-width: 80%;
  margin: auto;
}

header img {
  width: 15%;
}
header {
  text-align: center;
}

.studios {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:50px 0;
}

.studio {
  padding: 20px;
  border: 0.5px solid whitesmoke;
  border-radius: 25px;
  height: 10vh;
  box-shadow: whitesmoke;
}

.new, .suggest {
  display: flex;
  flex-direction: column;
  margin:50px 0;

}

h3 {
  color: whitesmoke;
}

.movie {
  list-style: none;
  display: flex;
}

.new-movies img, .suggest-movies img{
  width: 90%;
}
