.container {
  max-width: 80%;
  margin: auto;
}

header img {
  width: 20%;
  margin: auto;
}

.studios {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.new, .suggest {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.new-movies, .suggest-movies {
  display: flex;
  flex-wrap: wrap;
}

.new-movies img, .suggest-movies img{
  width: 25%;
}
