.container {
  max-width: 80%;
  margin: auto;
  
}

header img {
  width: 20%;
}

header {
  text-align: center;
}

.movie-detail {
  display: flex;
  margin: auto;
}

.movie-cover {
  padding: 10px;
}

.movie-description {
  width:80%;
  padding: 10px;
  color: antiquewhite;
}

.movie-cover img {
  width: 80%;
}